# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Documentos\2.Faculdade\1. Ciência da Computação\1º Periodo\4-Raciocínio Algorítmico\Atividades\TDEs\TDE2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
